<h1><%= @concert.title %></h1>
<div class="row">
<% # => binding.pry %>
  <%= render partial: 'videos/video_carousel', locals: {media: @media} %>
</div>
<div class="row">
  <% #binding.pry %>
  <%= render partial: 'videos/video_submit' %>
  <% #binding.pry %>
</div>
<div class="row col-md-8">

<div class="panel panel-default" id="chatbox">
  <% if @messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'chats/chat', collection: @messages, as: :message %>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>

  <%= render partial: 'chats/chat_form', locals: {message: @message, concert: @concert}%>
</div>
