<nav class="navbar navbar-light py-1 fixed-top" style="background-color: darkgray">
  <!-- <div class="container-fluid"> -->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="/">Chicago event connect</a>
    </div>
    <% if @concert != nil %>
      <form class="form-inline" role="search" action=<%= "/concerts/#{@concert.id}/shared_experiences/media_search" %> >
          <input type="hidden" _method="get">
          <!-- <input type="hidden" name="concert_id" value=<%= @concert.id %> > -->
          <input type="text" name="query" class="form-control-sm border border-dark input-sm" placeholder="user name">
        <button type="submit" class="btn-sm border border-dark">search for media by user</button>
      </form>
    <% end %>

    <ul class='nav navbar-nav navbar-right'>
      <% if current_user %>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Register', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path, data: {referrer: request.fullpath} %></li>
      <% end %>       
    </ul>
  <!-- </div> -->
</nav>
